apiVersion: v1
kind: Secret
metadata:
  name: backend
type: Opaque
stringData:
  DATABASE_HOST: "postgresql"
  DATABASE_PORT: "5432"
  DATABASE_NAME: "demodb"
  DATABASE_USER: "demouser"
  DATABASE_PASSWORD: "<password>"
  GREETING_HOST: "greeting"
  GREETING_PORT: "5000"
